# env files duh
.env

# dont let data sneak in at allllllll
raw_dataset
preprocessed_data/
*.edf
*.npz

# other config files that dont need to go there
.ipynb_checkpoints
.Trash-0
.siena
jupyter-settings
model_checkpoints

# i command you to let these files through
!preprocessed_data_3/
!preprocessed_data_3/*.npz